<div class="container-fluid " style="background-color: #FFEFE2; padding-top: 60px">
    
        <div class="card" style="background-color: #FFEFE2; border-color: #FFEFE2;">
          <div class="card-body">
            <h4 class="card-title text-center">เพิ่มข้อมูลประชาสัมพันธ์</h4>
            <div class="row">
                <div class="col-md-2">
                    
                </div>

                <div class="col-md-8">
                    <form [formGroup]="EventForm">
                        <div class="card" style="background-color: #FFEFE2; border-color: #FFEFE2;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        Title :
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName = 'title'>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Body : 
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea rows="5" cols="50" class="form-control" formControlName = 'body'>

                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Url :
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName = 'urllink' [(ngModel)] = "link" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Image:
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                          <input type="file" class="form-control-file " formControlName='file' (change)="onChangeImage($event)" accept="image/*">
                                        </div>
                                    </div>
                                </div>

                               
                                <div class="row">
                                    <div class="col-md-2">
                                        
                                    </div>
                                    <h4 class=" text-center">Example</h4>
                                </div>
                                <app-example-of-event [FormMessage] = "this.EventForm" [preview] = "this.previewLoaded"></app-example-of-event>
                                
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    
                </div>
            </div>
          </div>
        </div>
    
</div>