.jumbotron-eventnew{
    
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        border-radius: .3rem;
        background-color: white;

    
}

.Header-text{
    font-size: x-large;
}

.subtitle-text{
    font-size: medium;
}

.show {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0
}